.card-content .container {
  min-width: 960px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  text-decoration: none;
  padding: 9px 25px;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 8px;
  border-radius: 6px;
}

.btn-light {
  color: #374151;
  background-color: #fff;
}
.btn-blue {
  background-color: #5093e2;
  color: #fff;
}
.card__infos .btn:first-child {
  margin-left: 0;
}
.card__infos .btn:last-child {
  margin-right: 0;
}

.card__infos .btn img {
  margin-right: 8px;
}
.btn-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
}
.block-content {
  min-height: 800px;
  max-width: 550px;
  width: 100%;
  background-color: #23252c;
}
.block-content .card__header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.block-content .card__header .btn {
  display: flex;
  align-items: center;
  width: 115px;
  justify-content: center;
}
.block-content .card {
  margin: 55px 65px;
  max-width: 315px;
  margin: 40px auto;
  background-color: #1a1b21;
}
.block-content .card__body p {
  font-size: 13px;
  margin-bottom: 10px;
}
.block-content .card__title {
  color: #fff;
  font-size: 28px;
}
.block-content .card__body,
.block-content .card__infos {
  padding: 20px 30px;
}
.block-content .card__body {
  padding-top: 0;
}
.block-content .card__infos {
  text-align: center;
}
.block-content .profile-job {
  color: #f3bf99;
  font-size: 14px;
  margin-bottom: 8px;
}
.title,
.card__infos small {
  color: #f5f5f5;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card__body .title:first-child {
  margin-top: 5px;
}

.title {
  font-size: 20px;
}
.card__infos small {
  font-size: 12px;
}
.card__img {
  max-width: 315px;
  height: 315px;
}
.card__img img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.block-content p {
  color: #dcdcdc;
}
.card__footer {
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  background-color: #161619;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card__footer a {
  margin: 0 12px;
}
